@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --default-button: rgb(231, 101, 49);
    --default-button-dark: rgb(168, 84, 43);
    --green-button: rgb(103, 184, 101);
    --green-button-dark: rgb(79, 132, 78);
    --white: rgb(252, 250, 238);
    --black: rgb(34, 34, 34);
    --default-shadow: rgb(237, 209, 182);
    --default-shadow-dark: rgb(220, 187, 154);
    --white-shadow: #bab3a8;
    --tan-dark: rgb(204, 157, 130);
    --tan-medium: rgb(236, 223, 204);
    --tan-light: rgb(247, 240, 224);

    --mystical: rgb(179, 50, 119);
    --extrude-mystical: rgb(147, 32, 93);

    --legendary: rgb(37, 198, 242);
    --extrude-legendary: rgb(4, 111, 113);

    --epic: rgb(255, 180, 29);
    --extrude-epic: rgb(169, 120, 22);

    --rare: rgb(143, 209, 79);
    --extrude-rare: rgb(69, 114, 33);

    --common: rgb(183, 183, 183);
    --extrude-common: rgb(100, 100, 100);
    /* TODO: Add the rest of the extrude colors */
}

@font-face {
    font-family: 'Besley';
    src: url('/fonts/Besley-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Batuphat';
    src: url('/fonts/Batuphat-Script.otf') format('opentype');
}

@font-face {
    font-family: 'BatuphatExtrude';
    src: url('/fonts/Batuphat-Script-Extrude.otf') format('opentype');
}

* {
    font-family: Besley, sans-serif;
}

body {
    background: rgb(245, 239, 228);
    background: radial-gradient(circle, rgb(245, 239, 228) 0%, rgb(236, 223, 204) 100%);
}

body,
html {
    scrollbar-width: none;
    overscroll-behavior: none;
}

.no-scrollbar {
    scrollbar-width: none;
}

.centered-card {
    transform: all 250ms ease;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.75rem;
    border-radius: 9999px;
    background: var(--default-shadow);
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: url('/assets/svg/slider.svg') no-repeat;
    transform: translateX(5px);
    transition: scale 150ms ease;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:active {
    scale: 0.9;
}

.slider::-moz-range-thumb {
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
    background: url('/assets/svg/slider.svg') no-repeat;
    transform: translateX(5px);
    transition: scale 150ms ease;
    cursor: pointer;
}

.slider::-moz-range-thumb:active {
    scale: 0.9;
}

/* Removes number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}