@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --default-button: rgb(231, 101, 49);
    --default-button-dark: rgb(168, 84, 43);
    --green-button: rgb(103, 184, 101);
    --green-button-dark: rgb(79, 132, 78);
    --white: rgb(252, 250, 238);
    --black: rgb(34, 34, 34);
    --default-shadow: rgb(237, 209, 182);
    --default-shadow-dark: rgb(220, 187, 154);
    --white-shadow: #bab3a8;
    --tan-dark: rgb(204, 157, 130);
}

@font-face {
    font-family: 'Besley';
    src: url('/fonts/Besley-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Batuphat';
    src: url('fonts/Batuphat Script.otf') format('opentype');
}

@font-face {
    font-family: 'BatuphatExtrude';
    src: url('fonts/Batuphat Script Extrude.otf') format('opentype');
}

* {
    @apply font-besley;
}

body {
    background: rgb(245,239,228);
    background: radial-gradient(circle, rgb(245,239,228) 0%, rgb(236,223,204) 100%);
}